/* PALETA
Parchment #F2E8CF
Avocado #4E8230
Hunter green #386641
Cal Poly green #1E4D2B
Bittersweet shimmer #BC4749
*/

/* FUENTES
Encabezado:
font-family: "Shadows Into Light Two", cursive;
Cuerpo:
font-family: 'Lato', sans-serif;
*/

body {
    margin: 0;
    background-color: white;
    font-family: 'Lato', sans-serif;
}

/* ---------- NAV ---------- */
nav {
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.6); /* Así ponemos una transparencia del 40% */
    position: fixed; /* Así fijamos el navegador para verlo incluso si hacemos scroll */
    text-align: right;
    width: 100%; /* Para que ocupe todo el ancho de la página */
    font-weight: bold;
}

a:hover {
    color: #4E8230; /* Para cambiar el color cuando pasamos el cursor por encima */
}

nav a {
    margin: 0 15px;
    color: #1E4D2B;
    text-decoration: none; /* Para que los enlaces no aparezcan con el típico subrayado y color azul */
}

#enlaces-nav {
    margin-right: 50px;
}


/* ---------- HEADER ---------- */
header {
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 150px;
    height: 200px;
    margin-bottom: 75px;
}

h1 {
    font-family: "Shadows Into Light Two", cursive; /* Ponemos una fuente diferente para que destaque */
    font-size: 60px;
    margin-bottom: 0;
}

header p {
    font-size: 17px;
}


/* ---------- MAIN ---------- */
main {
    margin: 100px;
}

fieldset { /* Para enmarcar la sección de noticias y diferenciarla */
    color: #BC4749;
    border: 2px solid #4E8230;
    border-radius: 10px;
}

legend {
    font-family: "Shadows Into Light Two", cursive;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.noticia {
    display: flex;
    margin: 30px;
}

.titulo {
    color: #1E4D2B;
}

.titulo:hover {
    color: #4E8230;
}

.texto p {
    color: black;
}

.leer {
    color: #BC4749;
    font-weight: bold;
}

.leer:hover {
    color: #f8a1a1;
}

.noticia img {
    width: 350px;
    border-radius: 10px;
    margin: 20px;
}


/* ---------- CITA ---------- */
#cita {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding: 25px;
    background-color: #d9e4d1;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9), 0 -4px 8px rgba(0, 0, 0, 0.1);
}

#autor {
    font-weight: bold;
    font-style: normal;
}


/* ---------- FOOTER ---------- */
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    color: #1E4D2B;
    padding: 20px;

}

footer p {
    flex: 100%; /* El párrafo ocupa todo el ancho disponible y los logos se desplazan a la línea inferior*/
}

footer img {
    width: 30px;
}


/* ---------- PÁGINA CONTACTO ---------- */
#formulario {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #4E8230;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

h2 {
    color: #1E4D2B;
}
/* Agrupamos varios elementos para aplicarles el mismo formato */
input[type="text"], input[type="email"], textarea {
    width: 95%; /* Para que los campos no ocupen todo el ancho del formulario y haya margen */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #4E8230;
    border-radius: 5px;
}

textarea {
    font-family: 'Lato', sans-serif;
}

button {
    background-color: #BC4749;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none; /* Elimina el borde que aparece por defecto */
    border-radius: 4px;
    cursor: pointer; /* Para que el cursor aparezca como una mano señalando en lugar de una flecha */
}

button:hover {
    background-color: #f8a1a1;
}